.social {
	font-size: 14px;
	font-weight: bold;
}

.separador {
	background-color: #B0B0B0
}

.tabla-programa {
	font-size: 0.8em;
}

.tabla-programa td {
	text-align: left;
	width: 70%;
	vertical-align:middle;
}
